<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Story 9</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="text-align: center;">
	 <h1 style="margin-top: 10%;" >Login</h1>
	 <form style="margin-top: 5%;" class="site-form" action="{%url 'homepage:loginpage' %}" method="post">
	 	{% csrf_token %}
	 	<div id="flexbox-container">
	 	{{form.as_p}}
	 	</div>
	 	<input type="submit" value="Login">
	 </form>
</body>
