<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Story 9</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="text-align: center;">
	<h1 style="margin-top: 10%;">You're Logged In</h1>
	{% if user.is_authenticated %}
	<h3 style="margin-top: 5%;">Welcome, {{ user.username }}!</h3>
	<form class="logout-link" action="{%url 'homepage:logoutpage' %}" method="post">
		{% csrf_token %}
		<button class="btn btn-dark" type="submit">Logout</button>
	</form>
	{% endif %}
	
</body>
